body{
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    position: relative;
    background-image: url(../img2/cartoes-netflix.jpg);
    background-image: cover;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}



.logo_box{
    padding: 20px 50px;
    position: relative;
    z-index: 10;    
}

.logo img{
    height: 96px;
    width: 296px;
    background-color: rgba(90, 88, 83, 0.582);
    border-radius: 10px;
}

.cadastro_box{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    max-height: 900px;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.cadastro_box h2{
    font-size: 32px;
    color: #ffff;
    margin-top: 0;
}

.cadastro_box input{
    height: 50px;
    width: 100%;
    color: #ffff;
    background-color:rgba(104, 48, 48, 0.575);
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: 15px;
}

.cadastro_box input:hover{
    background-color: #444;
}

.input_box{
    margin-bottom: 25px;
}

.cadastro_box button{
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;   
}

.linkfdp{
    color: #fff;
    text-decoration: none;
}

.cadastro_box button:hover{
    background-color: #ad2b34;
    cursor: pointer;
}

.termos input{
    width: 15px;
    height: 20px;
}

.termos{
    text-decoration:  none;
    color: #737373;
    height: 10px;
    
}
